.menuBar.menuBar-user
  .menuBar-left
    %h2.menuBar-title Menu

  .menuBar-right
    %ul.list-inline
      %li.menuBar-item
        %a.btn.btn-default.js-triggerFullScreen{:href => "#"}
          %i.fa.fa-arrows-alt

      %li.menuBar-item
        Boton cambiar color
      %li.menuBar-item
        user name
