$gridster-item-padding: 14px;

// -------------------------------------------------------------
// Lista con dashboard usuario
// -------------------------------------------------------------
.dashboard-links{
  margin: 1.5em 0em;

  a{
    font-size: 1.2em;
    color: white;

    transition: color 0.3s ease;

    &:hover, &:focus{
      color: white;
      text-decoration: none;
    }
  }
}

.dashboard-link{
  padding: 1em 2em;

  &:hover, &:focus{
    background-color: $c-hover-bg;
  }
  border-bottom: solid 1px #f0f0f0;
  border-top: solid 1px #f0f0f0;
  transition: background-color 0.3s ease;
}



// -------------------------------------------------------------
// Dashboard
// -------------------------------------------------------------

.dashboard-container {
  padding: 3rem 2rem 1rem;
  color: white;
}

.dash-color-default {
  background-color: rgb(83, 172, 140);
}


// -------------------------------------------------------------
// Gridster
// -------------------------------------------------------------

.gridster-item {
  padding: $gridster-item-padding;
  position: relative;
  color: black;
  background-color: white;

  &.is-moving {
    background-color: aquamarine;
  }
}

.gdstr-title {
  color: $c-primary;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px
}

.subtitle h4 {
  font-size: 16px;
}

$loader-font-size: 36pt;
.loading-component{
  text-align: center;
  font-size: $loader-font-size;
  color: rgb(134, 134, 134);
  top: 50%;
  width: 100%;
  margin-top: -($loader-font-size / 2);
  margin-left: -($gridster-item-padding);
  position: absolute;
}

// -------------------------------------------------------------
// landing pahe
// -------------------------------------------------------------

.welcome-block {
  background-color: #fff;
  background-image: url('bg1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.iframe{
  width: 200%;
  height: 200%;
}
.iframe iframe{
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  height: 200%;
}
.btn.selected{
 background-color: #ff0;
}
