

.main-header{
  background-color: rgb(80, 48, 112);
  text-align: center;
  padding: 10em;
  min-height: 100em;
  h1{
    color: white;
  }
}





// footer
.footer {
  padding-top: 1.2em;
  font-family: $font-family-bold;
  color: $c-primary-light;
  text-align: center;

}
