

$c-primary: #F34F57;
$c-primary-light: #FED0D2;
$c-seconday: #000;






// Basicos

// color text
$c-text: $c-seconday;


// Box style
$bg-primary: $c-primary;

$br-color: $c-primary-light;

// Modificator colors
$c-hover-bg: salmon;
