
=render partial:"menubar/usermenu"


.dashboard-container.clearfix{'ng-controller'=>'DashboardsController', 'ng-cloak'=>''}
  %h1.text-center
    =@dashboard.name
  .gridster-container{'gridster'=>'gridsterOpts', 'ng-init'=>"fetchDashboardComponents('#{dashboard_component_dashboards_path(@dashboard, format: :json)}')"}
    %ul
      %li{'gridster-item'=>'dashboardComponent', 'ng-repeat'=>"dashboardComponent in dashboardComponents"}
        .gdstr-header.amount{'ng-if'=>'dashboardComponent.component.data_type == "amount"'}
          %h3.gdstr-title
            {{dashboardComponent.title}}
          %p.subtitle
            {{dashboardComponent.subtitle}}

          .loading-component{'ng-if'=>'dashboardComponent.loaded == false', 'ng-cloak'=>''}
            .fa.fa-spin.fa-circle-o-notch
          %h2.text-center
            {{dashboardComponent.amount}}
        .bar-chart{'ng-if'=>'dashboardComponent.component.data_type == "bar-chart"'}
          %canvas.chart.chart-bar{'chart-data'=>'dashboardComponent.data.values', 'chart-labels'=>'dashboardComponent.data.labels'}

  = link_to "<button>New Component Dashboard</button>".html_safe, new_dashboard_component_dashboard_path(dashboard_id: @dashboard.id)
  = link_to "<button>List Component Dashboards</button>".html_safe, dashboard_component_dashboards_path(dashboard_id: @dashboard.id)
