
// Main Navbar
// --------------------------------------------------

.navbar--dashbattle {
  background-color: $c-primary;
  border-radius: 0;
  box-shadow: none;

  .navbar-brand {
    font-weight: 700;
  }

  a {
    color: $c-seconday;
  }
}


// Menu bars
// --------------------------------------------------

.menuBar {
  padding: 1em ;
  border-bottom: 1px solid $br-color;
}
