
// Main Navbar
// --------------------------------------------------

.navbar--dashbattle {
  background-color: $c-primary;
  border-radius: 0;
  box-shadow: none;

  .navbar-brand {
    font-weight: 700;
  }

  a {
    color: $c-seconday;
  }
}


.navbar-logo {
  display: inline-block;
  width: 70px;
}

.logo-path1 {
  animation: drawlogo 3.5s forwards;
}

.logo-path2 {
  animation: drawlogo 2.5s forwards 1.5s;
}
.logo-path3 {
  animation: drawlogo 2s forwards 2.2s;
}

@keyframes drawlogo {
  100% {
    stroke-dashoffset: 0;
  }
}


// Menu bars
// --------------------------------------------------

.menuBar {
  padding: 1em ;
  border-bottom: 1px solid $br-color;
}
