

// -------------------------------------------------------------
// Lista con dashboard usuario
// -------------------------------------------------------------
.dashboard-links{
  margin: 1.5em 0em;

  a{
    font-size: 1.2em;
    color: white;

    transition: color 0.3s ease;

    &:hover, &:focus{
      color: white;
      text-decoration: none;
    }
  }
}

.dashboard-link{
  padding: 1em 2em;

  &:hover, &:focus{
    background-color: $c-hover-bg;
  }
  border-bottom: solid 1px #f0f0f0;
  border-top: solid 1px #f0f0f0;
  transition: background-color 0.3s ease;
}



// -------------------------------------------------------------
// Dashboard
// -------------------------------------------------------------

.dashboard-container {
  padding: 3rem 2rem 1rem;
  color: white;

  .gridster-item{
    background-color: white;
    color: black;
  }
}

.dash-color-default {
  background-color: rgb(83, 172, 140);
}



.welcome-block {
  background-color: #fff;
  background-image: url('bg1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
