// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-links{
  margin: 3em 0em;
  a{
    color: #7c7c7c;
    &:hover, &:focus{
      color: white;
      text-decoration: none;
    }
    transition: color 0.3s ease;
  }
}
.dashboard-link{
  padding: 2em 10em;
  &:hover, &:focus{
    background-color: #909090;
  }
  border-bottom: solid 1px #f0f0f0;
  border-top: solid 1px #f0f0f0;


  transition: background-color 0.3s ease;

}
