// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-header{
  background-color: rgb(80, 48, 112);
  text-align: center;
  padding: 10em;
  min-height: 100em;
  h1{
    color: white;
  }
}
